In [7]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import requests 
from pprint import pprint
import json
from config import apikey

In [8]:
csvpath = os.path.join("actors.csv")
csvpath1 = os.path.join("movie_data_final.csv")
movie = pd.read_csv(csvpath1, engine = 'python')
actors = pd.read_csv(csvpath, engine = 'python')
actors.dropna(axis=1, how="any")
movie.dropna(axis=1, how="any")

,adult,budget,genres,id,original_title
0,FALSE,"$30,000,000.00","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story
1,FALSE,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji
2,FALSE,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men
3,FALSE,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale
4,FALSE,0,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II
5,FALSE,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,Heat
6,FALSE,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11860,Sabrina
7,FALSE,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45325,Tom and Huck
8,FALSE,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9091,Sudden Death
9,FALSE,58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,GoldenEye
10,FALSE,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9087,The American President
11,FALSE,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",12110,Dracula: Dead and Loving It
12,FALSE,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,Balto
13,FALSE,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",10858,Nixon
14,FALSE,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1408,Cutthroat Island
15,FALSE,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",524,Casino
16,FALSE,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4584,Sense and Sensibility
17,FALSE,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5,Four Rooms
18,FALSE,30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,Ace Ventura: When Nature Calls
19,FALSE,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,Money Train
20,FALSE,30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",8012,Get Shorty
21,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",1710,Copycat
22,FALSE,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9691,Assassins
23,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",12665,Powder
24,FALSE,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",451,Leaving Las Vegas
25,FALSE,0,"[{'id': 18, 'name': 'Drama'}]",16420,Othello
26,FALSE,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9263,Now and Then
27,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",17015,Persuasion
28,FALSE,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",902,La CitÃ© des Enfants Perdus
29,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",37557,æ‘‡å•Šæ‘‡ï¼Œæ‘‡åˆ°å¤–å©†æ¡¥
...,...,...,...,...,...
45436,FALSE,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",45527,The Final Storm
45437,FALSE,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat
45438,FALSE,0,"[{'id': 18, 'name': 'Drama'}]",327237,"Bloed, Zweet en Tranen"
45439,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",84710,Jungle Woman
45440,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",39562,To Be Fat Like Me
45441,FALSE,0,"[{'id': 35, 'name': 'Comedy'}]",14008,Cadet Kelly
45442,FALSE,0,[],44330,Le tripot clandestin
45443,FALSE,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",49279,L'Homme Ã la tÃªte de caoutchouc
45444,FALSE,0,"[{'id': 14, 'name': 'Fantasy'}]",44333,Les cartes vivantes
45445,FALSE,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",49277,Les affiches en goguette
45446,FALSE,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",49271,Le locataire diabolique
45447,FALSE,0,[],44324,Le Roi du maquillage
45448,FALSE,0,[],122036,Les Transmutations imperceptibles
45449,FALSE,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",14885,Pooh's Heffalump Halloween Movie
45450,FALSE,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",49280,L'Homme orchestre
45451,FALSE,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",106807,Nouvelles luttes extravagantes
45452,FALSE,0,"[{'id': 99, 'name': 'Documentary'}]",276895,Deep Hearts
45453,FALSE,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Maa
45454,FALSE,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",420346,The Morning After
45455,FALSE,0,[],67179,San Michele aveva un gallo
45456,FALSE,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",84419,House of Horrors
45457,FALSE,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",390959,Shadow of the Blair Witch
45458,FALSE,0,"[{'id': 27, 'name': 'Horror'}]",289923,The Burkittsville 7
45459,FALSE,0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,Caged Heat 3000
45460,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,Robin Hood
45461,FALSE,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,Ø±Ú¯ Ø®ÙˆØ§Ø¨
45462,FALSE,0,"[{'id': 18, 'name': 'Drama'}]",111109,Siglo ng Pagluluwal
45463,FALSE,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,Betrayal
45464,FALSE,0,[],227506,Satana likuyushchiy
45465,FALSE,0,[],461257,Queerama

In [9]:
database = actors.merge(movie, on = 'id', how = 'inner')

In [10]:
df2 = database['production_companies']
print(df2[0])
import ast
prod = []
def get_production(prodstr):
    prodlist = ast.literal_eval(prodstr)
    if not prodlist:
        return ''
    return prodlist[0]['name']

for object in df2:
    try:
        number = get_production(object)
        prod.append(number)
    except Exception as e:
            print(e)
prod_dict = {
    "prod": prod
}

prod_df = pd.DataFrame(prod_dict)
prod_df.head()

[{'name': 'Villealfa Filmproduction Oy', 'id': 2303}, {'name': 'Finnish Film Foundation', 'id': 2396}]
malformed node or string: nan
malformed node or string: nan
malformed node or string: nan

                          prod
0  Villealfa Filmproduction Oy
1  Villealfa Filmproduction Oy
2                Miramax Films
3           Universal Pictures
4                    Lucasfilm

In [11]:
df3 = database['cast']

lead = []

for object in df3:
    try:
        number1 = get_production(object)
        lead.append(number1)
    except Exception as e:
            print(e)
cast_dict = {
    "lead": lead
}
cast_df = pd.DataFrame(cast_dict)
cast_df.head()

                lead
0        Turo Pajala
1  Matti PellonpÃ¤Ã¤
2           Tim Roth
3     Emilio Estevez
4        Mark Hamill

In [12]:
df4 = database['spoken_languages']
lang = []

for object in df3:
    try:
        number2 = get_production(object)
        lang.append(number2)
    except Exception as e:
            print(e)
lang_dict = {
    "lang": lang
}
lang_df = pd.DataFrame(lang_dict)
lang_df.head()

                lang
0        Turo Pajala
1  Matti PellonpÃ¤Ã¤
2           Tim Roth
3     Emilio Estevez
4        Mark Hamill

In [13]:
cleaned = database[['id','release_date','revenue','runtime','budget', 'popularity', 
                    'imdb_id','status','tagline','title',
                    'video','vote_average','vote_count']]
cleaned['production_comp'] = prod_df['prod']
cleaned['production_comp'] = cast_df['lead']
cleaned['production_comp'] = lang_df['lang']

cleaned.head()

C:\Users\GNIEHAUS\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\GNIEHAUS\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\GNIEHAUS\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,release_date,revenue,runtime,budget,popularity,imdb_id,status,tagline,title,video,vote_average,vote_count,production_comp
0,2,10/21/1988,0.0,69.0,0,3.860491,tt0094675,Released,NaN,Ariel,False,7.1,44.0,Turo Pajala
1,3,10/16/1986,0.0,76.0,0,2.29211,tt0092149,Released,NaN,Shadows in Paradise,False,7.1,35.0,Matti PellonpÃ¤Ã¤
2,5,12/9/1995,4300000.0,98.0,4000000,9.026586,tt0113101,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,Tim Roth
3,6,10/15/1993,12136938.0,110.0,0,5.538671,tt0107286,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.4,79.0,Emilio Estevez
4,11,5/25/1977,775398007.0,121.0,11000000,42.149697,tt0076759,Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0,Mark Hamill

In [14]:
# years = ["2005""2006", "2007", "2008", "2009"]
# url = "http://www.omdbapi.com"
# actors = []

# for number in imdb:

#     for id in years:
#         try:
#             params = {
#                 "apikey":apikey, 
#                 "y":id,
#                 "i": number
#                             }
        
#             response = requests.get(url, params = params).json()
#             print(response)
#         except Exception as e:
#             print(e)

# print(json.dumps(response, indent=4, sort_keys=True))